<%- include('../partials/header') %>
    <main class="main container-fluid">
        <div class="row text-center">
            <div class="col">
                <h1>PRESIDENTS</h1>
                <img src="<%= data[0].photo %>" alt="<%= data[0].name %>">
            </div>
        </div>
    </main>
<%- include('../partials/footer') %>